$brand-color: #e07869;

$dark-10: #121214;
$dark-20: #17171a;
$dark-30: #202024;
$dark-40: #252529;
$dark-50: #AFABB6;
$dark-60: #FFFFFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

$breakpoints: (
  xxs: 20em,  // 320px
  xs: 30em,   // 480px
  sm: 48em,   // 768px
  md: 64em,   // 1024px
  lg: 80em,   // 1280px
  xl: 120em   // 1920px
);

@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin rd($key) {
    $size: map-get($breakpoints, $key);

    @media only screen and (min-width: $size) {
        @content;
    }
}

@mixin rd-between($min-key, $max-key) {
  $min: map-get($breakpoints, $min-key);
  $max: map-get($breakpoints, $max-key);

  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

body {
    background-color: $dark-10;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: $dark-20;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 4rem 22rem;
    gap: 3rem;

    @include mq(sm) {
            padding: 4rem 2rem;
            width: 100%;
    }

    @include mq(xxs) {
        padding: 3rem 1.5rem;
        gap: 2rem;
    }

    @include rd-between(sm, xl) {
        padding: 4rem 22rem;
    }

    h1 {
        font-family: "Space Grotesk", sans-serif;
        font-weight: 500;
        font-size: 2.5rem;
        color: $dark-60;

        @include mq(xxs) {
            font-size: 1.5rem;
        }

        span {
            color: $brand-color;
        }
    }

    form {
        width: 100%;
        background-color: $dark-30;
        border-radius: 8px;
        border: 2px solid #252529;
        height: 3.5rem;
        padding: 1rem 1.5rem;

        input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            color: $dark-60;
            font-size: 1.25rem;
            font-weight: 500;
            font-family: "Inter", sans-serif;

            @include mq(xxs) {
                font-size: .875rem;
            }

            &::placeholder {
                color: $dark-50;

                @include mq(xxs) {
                    font-size: .875rem;
                }
            }
        }
        &:focus-within {
            border: 2px solid $brand-color;
        }
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 22rem;
    gap: 2.5rem;

    @include mq(sm) {
        padding: 0 2rem;
    }

    @include mq(xxs) {
        padding: 0 1.5rem;
    }

    @include rd(sm) {
        padding: 0 2.5rem;
    }

    section {
        border: 2px solid #252529;
        border-radius: 8px;
        margin: 5rem 0;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        @include mq(sm) {
            margin: 3.5rem 0;
        }

        @include mq(xxs) {
            margin: 2.5rem 0;
        }

        @include rd(sm) {
            margin: 3.5rem 0;
        }

        .infos {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .date {
                color: $brand-color;
                font-family: "Inter", sans-serif;
                font-weight: 500;
                font-size: 1rem;

                @include mq(sm) {
                    font-size: .875rem;
                }

                @include mq(xxs) {
                    font-size: .75rem;
                }
            }

            #icon {
                fill: #17171A;
                stroke: #E07B67;
                stroke-width: 7;
                transition: fill 0.3s;
                cursor: pointer;

                @include mq(sm) {
                    width: 24;
                    height: 24;
                }

                @include mq(sm) {
                    width: 20;
                    height: 20;
                }
            }

            #icon.filled,
                #icon:hover {
                    fill: #E07B67;
                }
        }

        h2 {
            font-family: "Space Grotesk", sans-serif;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 100%;
            letter-spacing: 0%;
            color: $dark-60;

            @include mq(sm) {
                font-size: 1.25rem;
            }
        }

        p {
            font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 160%;
            letter-spacing: 0%;
            color: $dark-50;

            @include mq(sm) {
                font-size: 1rem;
                text-align: justify;
            }

            @include mq(xxs) {
                font-size: .875rem;
                text-align: justify;
            }
        }

        &:hover {
            border: 2px solid $brand-color;
        }
    }
}